:host {
    padding-top: 1.375rem;

    mat-form-field {
        margin-right: 1rem;
        min-width: 17vw;
    }

    button, .control-icon {
        cursor: pointer;
    }

    @media only screen and (max-width: 480px) {
        text-align: center;

        mat-form-field {
            margin-right: 0;
            width: 86vw;
        }

        button {
            margin: 0 auto 1.5rem;
            display: block;
        }
    }
}
